<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>鞍山</string>
		<string>阿坝</string>
	</array>
	<array>
		<string>包头</string>
		<string>北京</string>
	</array>
	<array>
		<string>长春</string>
		<string>常德</string>
	</array>
	<array>
		<string>大理</string>
		<string>大连</string>
	</array>
	<array>
		<string>鄂尔多斯</string>
		<string>恩施</string>
	</array>
	<array>
		<string>佛山</string>
		<string>福州</string>
	</array>
	<array>
		<string>广州</string>
		<string>贵阳</string>
	</array>
	<array>
		<string>杭州</string>
		<string>哈尔滨</string>
	</array>
	<array>
		<string>济南</string>
		<string>江门</string>
	</array>
	<array>
		<string>昆明</string>
		<string>昆山</string>
	</array>
	<array>
		<string>兰州</string>
		<string>连云港</string>
	</array>
	<array>
		<string>绵阳</string>
		<string>马鞍山</string>
	</array>
	<array>
		<string>南京</string>
		<string>南宁</string>
	</array>
	<array>
		<string>莆田</string>
		<string>盘锦</string>
	</array>
	<array>
		<string>青岛</string>
		<string>秦皇岛</string>
	</array>
	<array>
		<string>日照</string>
		<string>荣成</string>
	</array>
	<array>
		<string>上海</string>
		<string>深圳</string>
	</array>
	<array>
		<string>天津</string>
		<string>太原</string>
	</array>
	<array>
		<string>武汉</string>
		<string>温州</string>
	</array>
	<array>
		<string>西安</string>
		<string>厦门</string>
	</array>
	<array>
		<string>盐城</string>
		<string>扬州</string>
	</array>
	<array>
		<string>郑州</string>
		<string>湛江</string>
	</array>
</array>
</plist>
